Package: rpi-chromium-mods
Version: 20190708
Architecture: amd64
Maintainer: Simon Long <simon@raspberrypi.org>
Installed-Size: 21221
Pre-Depends: dpkg (>= 1.15.7.2)
Depends: debconf, debconf (>= 0.5) | debconf-2.0, chromium (>= 65)
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: Raspberry Pi-specific mods to Chromium
 Package contains Raspberry Pi-specific modifications to the
 default Chromium browser install, including optimized settings
 and command-line flags. Also sets chromium as the default browser.
